<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            font-family: 'Tahoma', 'sans-serif';
            border: 0;
        }

        table {
            width: 100%;
        }

        th, td {
            text-align: left;
        }

        .td_id {
            width: 10%;
        }

        .td_name {
            width: 30%;
        }

        .td_time {
            width: 60%;
        }
    </style>
</head>
<body>

<div style="display:block; clear:both; page-break-after:always;"></div>

<h1 style="position: absolute; left: -999px;">Section 1</h1>
<table>
    <thead>
    <tr>
        <th class="td_id">ID</th>
        <th class="td_name">Name</th>
        <th class="td_time">Time</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td class="td_id">{{.ID}}</td>
        <td class="td_name">{{.Name}}</td>
        <td class="td_time">{{.Time}}</td>
    </tr>
    {{end}}
    </tbody>
</table>

<div style="display:block; clear:both; page-break-after:always;"></div>

<h1 style="position: absolute; left: -999px;">Section 2</h1>
<table>
    <thead>
    <tr>
        <th class="td_id">ID</th>
        <th class="td_name">Name</th>
        <th class="td_time">Time</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td class="td_id">{{.ID}}</td>
        <td class="td_name">{{.Name}}</td>
        <td class="td_time">{{.Time}}</td>
    </tr>
    {{end}}
    </tbody>
</table>

<div style="display:block; clear:both; page-break-after:always;"></div>

<h1 style="position: absolute; left: -999px;">Section 3</h1>
<table>
    <thead>
    <tr>
        <th class="td_id">ID</th>
        <th class="td_name">Name</th>
        <th class="td_time">Time</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td class="td_id">{{.ID}}</td>
        <td class="td_name">{{.Name}}</td>
        <td class="td_time">{{.Time}}</td>
    </tr>
    {{end}}
    </tbody>
</table>

<div style="display:block; clear:both; page-break-after:always;"></div>

</body>
</html>